@media screen {
.container {
    max-width: 730px;
    }
}
div.button_container{
    display: inline-block;
}

footer{
    text-align: center;
    width: 100%;
}

.footer-text{
    color: grey;
}

div.status-indicator {
    background-color: #eee;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0px 4px 4px 0px;
}

div.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.input-group {
    margin-top:10px;
    margin-bottom:10px;
}

div.slider-input {
    text-align:center;
}

.toggle.text {
    width:50px;
    display: inline-block;
}

div.toggle {
    width:50px;
    display: inline-block;
}

div.plot-window {
    height: 100%
}

.btn {
    min-width: 80px;
}

.btn-indicator {
    border-radius: 4px 0px 0px 4px;
}

.noUi-connect {
    background-color: DodgerBlue
}

.dial-title {
    text-align: center;
    width: 100%;
}
.dial {
    width: 100%;
    text-align: center;
}

div.centering-container {
    text-align: center ;
}