{% from "UI_elements.html" import panel %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="static/" target="_blank">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script language="javascript" type="text/javascript" src="flot/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="./flot/jquery.flot.time.js"></script>
        <script language="javascript" type="text/javascript" src="./flot/jquery.flot.resize.js"></script>
        <script language="javascript" type="text/javascript" src="./js/real_time_update.js"></script>

        <title>OpenLabTools Web Interface</title>
        <style type="text/css">
            @media screen {
            .container {
                max-width: 730px;
                }
            }
            div.button_container{
                display: inline-block;
            }
        </style>
        <link rel="shortcut icon" href="http://www.cam.ac.uk/profiles/cam/themes/cam/assets/images/favicon.ico">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>OpenLabTools Web Interface</h1>
            </div>
            {% for key, value in UI_config.iteritems() %}
                <p>{{ panel( key, UI_config[key]['id'], UI_config[key] ) }}</p>
            {%- endfor %}
        </div>
        <footer style="text-align: center; width: 100%;">
            <p style="color: grey">
                <b>
                    <a href="http://openlabtools.eng.cam.ac.uk">OpenLabTools</a> Web Interface
                </b> Source code available on <a href="https://github.com/LiyouZhou/OpenLabTools-web-interface"><img src="/static/GitHub_Logo.png" alt="GitHub" height="20px" align="text-bottom"></a>
            </p>
        </footer>
    </body>
</html>
