{% from "UI_elements.html" import panel with context%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="static/" target="_blank">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link rel="shortcut icon" href="http://www.cam.ac.uk/profiles/cam/themes/cam/assets/images/favicon.ico">
        <link href="css/OLT-web-interface.css" rel="stylesheet">
        {% block imports %}
        {% endblock imports %}
    </head>
    <body>
        <div class="container">
            <div class="page-header" style="text-align: center">
                <h1><b>OpenLabTools Web Interface</b></h1>
            </div>
            {% block main %}
            {% endblock main %}
        </div>

        <footer>
            <p class="footer-text">
                <b>
                    <a href="http://openlabtools.eng.cam.ac.uk">OpenLabTools</a> Web Interface
                </b> Source code available on <a href="https://github.com/LiyouZhou/OpenLabTools-web-interface"><img src="/static/GitHub_Logo.png" alt="GitHub" height="20px" align="text-bottom"></a>
            </p>
        </footer>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Choose Device <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for group_name, group_config in cluster_config.iteritems() %}
                                <li class='dropdown-header'>{{group_name}}</li>
                                <li><a href="/html_gen?id={{group_config['id']}}" target="_self">All devices in {{group_name}}</a></li>

                                {% for device_name, device_config in group_config.iteritems() if device_name not in ['id', 'config_file'] %}
                                    <li><a href="/html_gen?device_id={{device_config['id']}}" target="_self">{{device_name}}</a></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <p class='navbar-text navbar-right'>
                            {% if current_device_name is defined %}
                                Current Device: <b>{{current_device_name}}</b>
                            {% else %}
                                Please pick a device.
                            {% endif %}
                            {% if device_id is defined %}
                                Device ID: <b>{{device_id}}</b>
                            {% endif %}
                        </p>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
