{% macro button(name, id, status_indicator, config_dict) -%}
    <div class={% if status_indicator %}"col-xs-12 col-sm-6"{% else %}"col-xs-6 col-sm-2"{% endif %}>
        <div class="button-container">
            <button type="button"
                    id="{{ id }}"
                    data-loading-text="Working..."
                    data-toggle="tooltip"
                    title="{{config_dict['func']}}(&quot;{{config_dict['args']}}&quot;)"
                    class="btn btn-primary {% if status_indicator %}btn-indicator{% endif %}">{{name}}</button>
            {% if status_indicator -%}
                <div  class="status-indicator" id="{{ id }}-Status">
                    Status:
                </div>
            {%- endif %}
        </div>
    </div>
    <script>
        var btn = $('#{{ id }}');
        btn.click( function(){ button_ajax("{{ id }}", true) } );
    </script>
{%- endmacro %}


{% macro time_series_plot(name, id, refresh_interval) -%}
    <div class="col-xs-12">
        <div class="panel panel-primary",>
            <div class="panel-heading">
                <b>{{name}}</b>
                <button id="pause-{{id}}" type="button" class="close" title="Pause">
                    <span id="pauseIcon-{{id}}" class="glyphicon glyphicon-pause"></span>
                </button>
            </div>
            <div class="panel-body" id='dynamicheight'>
                <div id='plot_window-{{id}}' class='plot-window'></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( function() {
            var div = $('#dynamicheight');
            div.css('height', div.width()*0.5);
            $('#pause-{{id}}').click(function(event) {
                var icon = $("#pauseIcon-{{id}}");
                var btn = $("#pause-{{id}}");
                icon.toggleClass('glyphicon-pause');
                icon.toggleClass('glyphicon-play' );
                if (icon.hasClass('glyphicon-pause')) {
                    btn.attr('title', 'Pause');
                } else {
                    btn.attr('title', 'Continue');
                }
            });
            plot_time_series("{{name}}", "{{id}}", {{refresh_interval}});
        });
    </script>
{%- endmacro %}


{% macro panel(name, id, sub_elem_dict) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{name}}</b>
        </div>
        <div class="panel-body">
            <row>
            {% for key, item in sub_elem_dict.iteritems() if key != 'id' -%}
                {% if item['type'] == 'button' %}
                    {{ button( key, item['id'],  false, item ) }}

                {% elif item['type'] == 'button_with_text' %}
                    {{ button( key, item['id'],  true, item ) }}

                {% elif item['type'] == 'time_series_plot' %}
                    {{ time_series_plot( key, item['id'], item['refresh interval']) }}

                {% elif item['type'] == 'text' %}
                    {{ text( key, item['id'], item['refresh interval']) }}

                {% elif item['type'] == 'input' %}
                    {{ input( key, item ) }}

                {% elif item['type'] == 'slider' %}
                    {{ slider( key, item ) }}

                {% elif item['type'] == 'toggle' %}
                    {{ toggle( key, item ) }}

                {% elif item['type'] == 'dial' %}
                    {{ dial( key, item ) }}

                {% elif item['type'] == 'image' %}
                    {{ image( key, item ) }}

                {% endif %}
            {%- endfor %}
            </row>
        </div>
    </div>
{%- endmacro %}


{% macro input(name, config_dict) %}
    {% set id = config_dict['id'] %}
    <div class="col-xs-12 col-sm-6">
        <div class="input-group">
            <input type="text" class="form-control" id="input-{{ id }}">
            <span class="input-group-btn">
                <button type="button" id="{{ id }}" data-loading-text="Working..."
                        title="{{config_dict['func']}}(&quot;{{config_dict['args']}}&quot;)"
                        class="btn btn-primary">{{name}}</button>
            </span>
        </div>
    </div>
    <script>
        $( function() {
            $('#{{ id }}').click( function(){
                var input_val = $('#input-{{ id }}').val();
                button_ajax("{{ id }}", false, input_val);
            });
            $('#input-{{ id }}').keydown( function(event) {
                if (event.keyCode == 13) {
                    var input_val = $('#input-{{ id }}').val();
                    button_ajax("{{ id }}", false, input_val);
                }
            });
        });
    </script>
{% endmacro %}


{% macro text(name, id, refresh_interval) %}
    <div class="col-xs-12 col-sm-6">
        <div class="jumbotron">
            <h1 id="{{id}}"></h1>
            <p>{{name}}</p>
            <script type="text/javascript">
                setInterval(
                    function() {
                        $.getJSON(
                            "/get_point",
                            { id: "{{id}}" },
                            function(data) {
                                $("#{{id}}").text( toFixed(data.data,3) )
                            })
                    },
                    {{refresh_interval}}*1000 )
            </script>
        </div>
    </div>
{% endmacro %}


{% macro slider(name, config_dict) %}
    <div class="col-xs-12 col-sm-6">
        {{name}}  <input id="output-{{config_dict.id}}" class="slider-input"></input>
        <br></br>
        <div class="slider" id = "{{config_dict.id}}"></div>
    </div>
    <script>
         // On document ready, initialize noUiSlider.
        $(function(){
            var slider = $('#{{config_dict.id}}');
            var output = $('#output-{{config_dict.id}}');
            var id = "{{config_dict.id}}";
            slider.noUiSlider({
                start: {{config_dict.init_val}},
                step: {{config_dict.step}},
                range: {
                    'min': {{config_dict.min}},
                    'max': {{config_dict.max}}
                },
                connect: "lower",
                behaviour: 'tap',
                serialization: {
                    lower: [
                      $.Link({
                        target: output
                      })
                    ],
                    format: {
                        decimals: 3,
                        mark: '.'
                    }
                }
            });

            slider.on( "set", function() {
                value = slider.val();
                $.getJSON( "../button_click", { id: id, extra_args: value } )
                .done( function (json) {
                    output.css('background-color', 'DodgerBlue');
                    output.css('color', 'white');
                })
                .fail( function () {
                    alert("Request failed!");
                    output.css('background-color', 'red');
                    output.css('color', 'white');
                })
            })

            slider.val(slider.val(), { set: true });
        });
    </script>
{% endmacro %}


{% macro toggle(name, config_dict) %}
    <div class="col-xs-6 col-sm-2">
        <h5 class="toggle-text">{{name}}</h5>
        <div class="slider toggle" id = "{{config_dict.id}}" ></div>
    </div>
    <script>
        var slider = $('#{{config_dict.id}}');
        var id = "{{config_dict.id}}";

        slider.noUiSlider({
            start: 0,
            range: {
                'min': [0, 1],
                'max': 1
            },
            connect: "lower"
        });

        slider.on( "set", function() {
            value = slider.val()
            $.getJSON( "../button_click", { id: id, extra_args:value } )
            .fail( function() {
                alert("Request Failed")
                slider.val( 1-value )
            })
        });
    </script>
{% endmacro %}

{% macro dial(name, config_dict) %}
    {% set id = config_dict['id'] %}
    {% set ref_int = config_dict['refresh interval'] %}
    <div class="col-xs-12 col-sm-6">
        <h3 class="dial-title">{{name}}</h3>
        <div class="centering-container">
            <input type="text" class="dial" id="{{id}}">
        </div>
    </div>
    <script>
        $( function() {
            $(".dial").knob({
                "min": {{config_dict.min}},
                "max": {{config_dict.max}},
                "readOnly": true,
            });
            setInterval( function() {
                $.getJSON(
                    "/get_point",
                    { id: "{{id}}" },
                    function(data) {
                        $("#{{id}}").val(data.data)
                    }
)            }, {{ref_int}}*1000 )});
    </script>
{% endmacro %}

{% macro image(name, config_dict) %}
    {% set id = config_dict['id'] %}
    <div class="col-xs-12 col-sm-6">
        <img src='/get_image?id={{id}}' id='{{id}}' alt='whaat'>
        <a href='/save_image?id={{id}}' id='snapshot-{{id}}'>Download Snapshot</a>
    </div>
    <script type="text/javascript">
        var img = $('#{{id}}');
        var dlbth = $("#snapshot-{{id}}");
        img.on({
            load: function () {
                console.log('loaded')
                setTimeout( function () {
                    var d = new Date();
                    img_url = "/get_image?id={{id}}&device_id={{device_id}}&time=" + d.getTime();
                    img.attr( "src", img_url );
                    dlbth.attr('download', 'image-'+formatDate(d));
                }, 80 )
            },
            error: function () {
                console.log('error')
                setTimeout( function () {
                    img.attr( "src", "/get_image?id={{id}}&device_id={{device_id}}&time=" + new Date().getTime() );
                }, 100 )
            }
        })
    </script>
{% endmacro %}
