{% macro button(name, id, status_indicator = false) -%}
    <div class="button_container">
        {% if status_indicator %}
            <p id="{{ id }}-Status">Status:</p>
        {% endif %}

        <button type="button" id="{{ id }}" data-loading-text="Working..."
                class="btn btn-primary">{{name}}</button>
    </div>
    <script>
        $('#{{ id }}').click( function(){ button_ajax("{{ id }}", true) } );
    </script>
{%- endmacro %}


{% macro time_serise_plot(name, id, refresh_interval) -%}
    <div class="panel panel-primary",>
        <div class="panel-heading">
            <b>{{name}}</b>
        </div>
        <div class="panel-body" style="height:320px">
            <div id='plot_window-{{id}}' style="height: 100%"></div>
        </div>
    </div>

    <script type="text/javascript">
        $( function() {
            plot_time_series("{{name}}", "{{id}}", {{refresh_interval}});
        });
    </script>
{%- endmacro %}


{% macro panel(name, id, sub_elem_dict) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{name}}</b>
        </div>
        <div class="panel-body">
            {% for key, item in sub_elem_dict.iteritems() if key != 'id' -%}
                {% if item['type'] == 'button' %}
                    {{ button( name=key, id=item['id'],  status_indicator = false) }}
                {% elif item['type'] == 'button_with_text' %}
                    {{ button( name=key, id=item['id'],  status_indicator = true) }}
                {% elif item['type'] == 'time_serise_plot' %}
                    {{ time_serise_plot(name=key, id=item['id'], refresh_interval = item['refresh interval']) }}
                {% elif item['type'] == 'text' %}
                    {{ text(name=key, id=item['id'], refresh_interval = item['refresh interval']) }}
                {% elif item['type'] == 'input' %}
                    {{ input(name=key, id=item['id']) }}
                {% endif %}
            {%- endfor %}
        </div>
    </div>
{%- endmacro %}


{% macro input(name, id) %}
    <div class="col-lg-6">
        <div class="input-group" style = "margin-top:10px; margin-bottom:10px" >
            <input type="text" class="form-control" id="input-{{ id }}">
            <span class="input-group-btn">
                <button type="button" id="{{ id }}" data-loading-text="Working..."
                    class="btn btn-primary">{{name}}</button>
            </span>
        </div>
    </div>
    <script>
        $( function() {
            $('#{{ id }}').click( function(){
                var input_val = $('#input-{{ id }}').val();
                button_ajax("{{ id }}", false, input_val);
            });
            $('#input-{{ id }}').keydown( function(event) {
                if (event.keyCode == 13) {
                    var input_val = $('#input-{{ id }}').val();
                    button_ajax("{{ id }}", false, input_val);
                }
            });
        });
    </script>
{% endmacro %}


{% macro text(name, id, refresh_interval) %}
    <div class="jumbotron">
        <h1 id="{{id}}"></h1>
        <p>{{name}}</p>
        <script type="text/javascript">
            setInterval(
                function() {
                    $.getJSON(
                        "/get_point",
                        { id: "{{id}}" },
                        function(data) {
                            $("#{{id}}").text( toFixed(data.data,3) )
                        })
                },
                {{refresh_interval}}*1000 )
        </script>
    </div>
{% endmacro %}
