{% macro button(name, id, status_indicator = false) -%}
    <div class={% if status_indicator %}"col-xs-6"{% else %}"col-xs-2"{% endif %}>
        <div style="margin-top: 10px; margin-bottom: 10px">
        <button type="button" id="{{ id }}" data-loading-text="Working..."
                class="btn btn-primary" style='min-width: 80px; {% if status_indicator %}border-radius: 4px 0px 0px 4px;{% endif %}'>{{name}}</button>
        {% if status_indicator %}

        <style type="text/css">
            div.status_indicator {
                background-color: #eee;
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                vertical-align: middle;
                border: 1px solid transparent;
                border-radius: 0px 4px 4px 0px;
            }
        </style>
        <div  class="status_indicator" id="{{ id }}-Status">
            Status:
        </div>
        {% endif %}
    </div>
    </div>
    <script>
        $('#{{ id }}').click( function(){ button_ajax("{{ id }}", true) } );
    </script>
{%- endmacro %}


{% macro time_serise_plot(name, id, refresh_interval) -%}
    <div class="col-xs-12">
        <div class="panel panel-primary",>
            <div class="panel-heading">
                <b>{{name}}</b>
                <button id="pause-{{id}}" type="button" class="close">
                    <span id="pauseIcon-{{id}}" class="glyphicon glyphicon-pause"></span>
                </button>
            </div>
            <div class="panel-body" id='dynamicheight'>
                <div id='plot_window-{{id}}' style="height: 100%"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( function() {
            var div = $('#dynamicheight');
            div.css('height', div.width()*0.5);
            $('#pause-{{id}}').click(function(event) {
                var icon = $("#pauseIcon-{{id}}");
                icon.toggleClass('glyphicon-pause');
                icon.toggleClass('glyphicon-play' );
            });
            plot_time_series("{{name}}", "{{id}}", {{refresh_interval}});
        });
    </script>
{%- endmacro %}


{% macro panel(name, id, sub_elem_dict) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{name}}</b>
        </div>
        <div class="panel-body">
            <row>
            {% for key, item in sub_elem_dict.iteritems() if key != 'id' -%}
                {% if item['type'] == 'button' %}
                    {{ button( name=key, id=item['id'],  status_indicator = false) }}
                {% elif item['type'] == 'button_with_text' %}
                    {{ button( name=key, id=item['id'],  status_indicator = true) }}
                {% elif item['type'] == 'time_serise_plot' %}
                    {{ time_serise_plot(name=key, id=item['id'], refresh_interval = item['refresh interval']) }}
                {% elif item['type'] == 'text' %}
                    {{ text(name=key, id=item['id'], refresh_interval = item['refresh interval']) }}
                {% elif item['type'] == 'input' %}
                    {{ input(name=key, id=item['id']) }}
                {% endif %}
            {%- endfor %}
            </row>
        </div>
    </div>
{%- endmacro %}


{% macro input(name, id) %}
    <div class="col-xs-6">
        <div class="input-group" style = "margin-top:10px; margin-bottom:10px" >
            <input type="text" class="form-control" id="input-{{ id }}">
            <span class="input-group-btn">
                <button type="button" id="{{ id }}" data-loading-text="Working..."
                    class="btn btn-primary">{{name}}</button>
            </span>
        </div>
    </div>
    <script>
        $( function() {
            $('#{{ id }}').click( function(){
                var input_val = $('#input-{{ id }}').val();
                button_ajax("{{ id }}", false, input_val);
            });
            $('#input-{{ id }}').keydown( function(event) {
                if (event.keyCode == 13) {
                    var input_val = $('#input-{{ id }}').val();
                    button_ajax("{{ id }}", false, input_val);
                }
            });
        });
    </script>
{% endmacro %}


{% macro text(name, id, refresh_interval) %}
    <div class="col-xs-6">
        <div class="jumbotron">
            <h1 id="{{id}}"></h1>
            <p>{{name}}</p>
            <script type="text/javascript">
                setInterval(
                    function() {
                        $.getJSON(
                            "/get_point",
                            { id: "{{id}}" },
                            function(data) {
                                $("#{{id}}").text( toFixed(data.data,3) )
                            })
                    },
                    {{refresh_interval}}*1000 )
            </script>
        </div>
    </div>
{% endmacro %}
