{% extends 'OpenLabTools_template.html' %}

{% block imports %}
    <link href="css/jquery.nouislider.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="./flot/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" src="./flot/jquery.flot.resize.js"></script>
    <script language="javascript" type="text/javascript" src="./js/OLTwi.js"></script>
    <script language="javascript" type="text/javascript" src="./js/jquery.nouislider.min.js"></script>
    <script type="text/javascript" src="./js/jquery.knob.min.js"></script>
    <title>OpenLabTools Web Interface</title>
    <script type="text/javascript">
        (function(jQuery){
            var oPost = jQuery.ajax;
            jQuery.ajax = function() {
                arguments[0]['data']['device_id'] = "{{device_id}}";
                return oPost.apply($, Array.prototype.slice.apply(arguments));
            };
        })(jQuery)
    </script>
{% endblock imports %}


{% block main %}
    {% for key, value in UI_config.iteritems() %}
        {{ panel( key, UI_config[key]['id'], UI_config[key] ) }}
    {%- endfor %}
{% endblock main %}
